* {
	padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
	color: #f2f2f2;
}

body {
	background-color: black;
}

.site-content {
	display: flex;
}

.pane {
	height: 100vh;
}

.pane  a {
	color: #f2f2f2;
}

.pane-about {
	padding: 24px;
	min-width: 36rem;
	background-color: #111;
}

img {
	height: 100vh;
	display: inline-block;
	margin-right: 1px;
	background-color: black;
}
