@font-face {
  font-family: InputMono 
  src: url(InputMono.ttf); 
  font-weight: 100;
}

body {
  font-family: InputMono, courier;
  color: #444444;
  text-decoration: none;
  font-weight: 100;
  margin: 0;
  padding: 0;
}


.container {
  width: 550px;
  margin: 100px auto 0 auto;
  background-color: white; 
}

.image {
  width: 100%;
}

.content {
  width: 90%;
  padding: 30px;
  text-align: left;
  display: inline-block;
}


#logo_container {
  width: 48px;
}

#logo {
  width: 100%;
  margin-bottom: -8px;
}

#tagline {
  font-size: 14px;
  opacity: .5;
}

.desc {
  line-height: 20px;
  margin-bottom: 0px;
}

.dl-btn {
  color: #e14f13; 
  text-decoration: none;
}

.dl-btn:hover {
  color: #e22a0b;
}

@media and (min-device-width : 375px) 
and (max-device-width : 667px) {
  .container {
    width: 100%;
    margin: 0; 
  }
}

