@font-face {
  font-family: InputMono 
  src: url(InputMono.ttf); 
  font-weight: 100;
}

body {
  height: 100%;
  width: 100%;
  font-family: InputMono, courier;
  color: #444444;
  overflow: hidden; 
}

.wrapper {
  position: relative;  
}

.container {
  width: 960px;
  height: 412px;
 
  position: absolute;
  top: 50%;
  left: 50%;

  margin: 200px 0 0 -480px;
}

#hero_image {  
  width: 550px; 
  display: inline-block;
}

#logo_container {
  width: 48px;
}

#logo {
  width: 100%;
}

.content {
  width: 379px;
  height: 120px;
  padding: 10px;
  text-align: left;
  display: inline-block;
}

#logo, #tagline, #download_button {
font-weight: 100;
}

#logo {
  margin-bottom: -10px;
}

#tagline {
  font-size: 18px;
  opacity: .5;
}

.desc {
  line-height: 20px;
}

.dl-btn {
  color: #FE5A3F;
  text-decoration: none;
}

#colophon {
  color: #666666;
  font-size: 12px;
  text-align: center;
  width: 200px;
  position: absolute; 
  bottom: 0px;
  left: 50%;
  margin-left: -100px;
}

.link {
  color: #888888;
}

