@import url('https://rsms.me/inter/inter.css');

html { font-family: 'Inter', sans-serif; }

body {
  width: 100%;
  height: 100%;
  font-family: 'Inter', courier;
  color: #444444;
  background: black; 
  text-decoration: none;
  transition: .15s;
  font-weight: 100;
  margin: 0;
  padding: 0;
	
overflow: hidden;
}

.wrapper {
  width: 100%;
}

.container {
  width: 640px;
  margin: 0 auto 0 auto;
}

.image {
  width: 480px; 
}

.content {
  width: 90%;
  padding: 30px;
  text-align: left;
  display: inline-block;
}


#logo_container {
  width: 80px;
}

#logo {
  width: 100%;
  margin-bottom: -12px;
	margin-top: 80px;
}

#tagline {
  font-size: 12px;
  font-weight: 200;
  opacity: .5;
}

.desc {
	font-size: 36px;
	font-weight: 600;
  line-height: 40px;
	letter-spacing: -1px;
  margin-bottom: 0px;
    color: #808080;
}

.dl-btn {
 	font-size: 24px; 
	color: #FF9F40;
  text-decoration: none;
	font-weight: 600;
}

.dl-btn:hover {
  color: #DB8134;font-weight: 600;
}

#render {
	width: 640px;
	margin-top: 16px;
}

iframe {
	width: 100%;
	height: 100%;
}

.section_header {
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 40px;
}

.t_quote {
  margin-bottom: -5px;
}

.t_name {
  font-size: 14px;
  opacity: .75;
  margin-bottom: 30px;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

@media (max-width: 550px) {
  .container {
    width: 100%;
    margin: 0; 
  }

	#logo_container {
		margin-left: 40px;
	}

	#jotbio {
		margin-left: 40px;
}
		
	.dl-btn {
 	font-size: 18px; 
	color: #FF9F40;
  text-decoration: none;
	font-weight: 600;
}
	#render {
		width: 200%;
    margin-left: -50%;
    margin-top: 20px;
}

	iframe {
	width: 100%;
	height: 100%;
}
  .content {
    width: 80%;
  }
}

