body {
	font: Courier New, Monaco, monospace;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

* {
	font: Courier New, Monaco, monospace;
	font-weight: 100;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}

a {
	color: #eee;
}

.inverted a {
	color: #555;
}

html {
	background-image: url('assets/dark.png');
	color: #F0F0F0;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	position: relative;
}

.inverted {
	background-image: url('assets/light.png');
	color: #1F1F1F;
}

body {
	height: 100%;
}

body:before, body:after {
	content:'';
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	font-size: 120%;
	height: 4em;
	background-image: -webkit-linear-gradient(rgba(12,12,12,1), rgba(12,12,12,0));
	background-image:    -moz-linear-gradient(rgba(12,12,12,1), rgba(12,12,12,0));
	background-image:     -ms-linear-gradient(rgba(12,12,12,1), rgba(12,12,12,0));
	background-image:      -o-linear-gradient(rgba(12,12,12,1), rgba(12,12,12,0));
	background-image:         linear-gradient(rgba(12,12,12,1), rgba(12,12,12,0));
	z-index: 99999;
	pointer-events: none;
}

body:after {
	top: 100%;
	top: -webkit-calc(100% - 4em);
	top:    -moz-calc(100% - 4em);
	top:     -ms-calc(100% - 4em);
	top:      -o-calc(100% - 4em);
	top:         calc(100% - 4em);
	background-image: -webkit-linear-gradient(rgba(12,12,12,0), rgba(12,12,12,1));
	background-image:    -moz-linear-gradient(rgba(12,12,12,0), rgba(12,12,12,1));
	background-image:     -ms-linear-gradient(rgba(12,12,12,0), rgba(12,12,12,1));
	background-image:      -o-linear-gradient(rgba(12,12,12,0), rgba(12,12,12,1));
	background-image:         linear-gradient(rgba(12,12,12,0), rgba(12,12,12,1));
}

.inverted body:before {
	background-image: -webkit-linear-gradient(rgba(240,240,240,1), rgba(240,240,240,0));
	background-image:    -moz-linear-gradient(rgba(240,240,240,1), rgba(240,240,240,0));
	background-image:     -ms-linear-gradient(rgba(240,240,240,1), rgba(240,240,240,0));
	background-image:      -o-linear-gradient(rgba(240,240,240,1), rgba(240,240,240,0));
	background-image:         linear-gradient(rgba(240,240,240,1), rgba(240,240,240,0));
}

.inverted body:after {
	background-image: -webkit-linear-gradient(rgba(240,240,240,0), rgba(240,240,240,1));
	background-image:    -moz-linear-gradient(rgba(240,240,240,0), rgba(240,240,240,1));
	background-image:     -ms-linear-gradient(rgba(240,240,240,0), rgba(240,240,240,1));
	background-image:      -o-linear-gradient(rgba(240,240,240,0), rgba(240,240,240,1));
	background-image:         linear-gradient(rgba(240,240,240,0), rgba(240,240,240,1));
}

.loading body {
	opacity: 0;
}

.ready body {
	-webkit-animation: fadeIn 1s .3s ease both;
		 -moz-animation: fadeIn 1s .3s ease both;
			-ms-animation: fadeIn 1s .3s ease both;
			 -o-animation: fadeIn 1s .3s ease both;
					animation: fadeIn 1s .3s ease both;
}

.ready, .ready * {
	-webkit-transition: .4s;
		 -moz-transition: .4s;
			-ms-transition: .4s;
			 -o-transition: .4s;
					transition: .4s;
}

form {
	display: block;
	width: 100%;
	height: 100%;
	-webkit-animation: fadeIn 1s .3s;
		 -moz-animation: fadeIn 1s .3s;
			-ms-animation: fadeIn 1s .3s;
			 -o-animation: fadeIn 1s .3s;
					animation: fadeIn 1s .3s;
}

textarea {
	display: block;
	padding: 4em 2em;
	font: 120%/1 Courier New, Consolas, Monaco, monospace;
	width: 100%;
  height: 850px;
	-webkit-appearance: none;
		 -moz-appearance: none;
					appearance: none;
	background: transparent;
	color: #F0F0F0;
	border: none;
	-webkit-font-smoothing: antialiased;
	resize: none;

}

.inverted textarea {
color: #1F1F1F;
}

.loading body {
	opacity: 0;
}

.thinking {
	display: block;
	font: 120%/1 Courier New, Consolas, Monaco, monospace;
	-webkit-appearance: none;
		 -moz-appearance: none;
					appearance: none;
	background: transparent;
	color: #8A8A8A;
	border: none;
	-webkit-font-smoothing: antialiased;
	resize: none;
	width: 100%;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	opacity: 50%;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center-none {
	visibility: hidden;
	height: 0px;
	overflow: hidden;
}
.thoughts {
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}


form {
	display: block;
	width: 100%;
	height: 100%;
	-webkit-animation: fadeIn 1s .3s;
		 -moz-animation: fadeIn 1s .3s;
			-ms-animation: fadeIn 1s .3s;
			 -o-animation: fadeIn 1s .3s;
					animation: fadeIn 1s .3s;
}

.radio {
	display: block;
	padding-top: 4em;
	font: 120%/1 Courier New, Monaco, monospace;
	font-weight: 100;
	width: 100%;
	height: 100%;
	-webkit-appearance: none;
		 -moz-appearance: none;
					appearance: none;
	background: transparent;
	color: #1F1F1F;
	border: none;
	-webkit-font-smoothing: antialiased;
	resize: none;
}
	
textarea:focus, section:focus, div.focus{
	outline: none;
}

.inverse {
	width: 30px; 
	height: 30px; 
	-webkit-border-radius: 5em; -moz-border-radius: 5em;
	border: 3px solid #C2C2C2;
	text-indent: -9999px;
	float:right;
}

.inverse:hover {
	background-color: #C2C2C2;
}

.focused {
	padding-top: 150px;
}

a {
	cursor: pointer;
}

@-webkit-keyframes fadeIn { from { opacity: 0; } }
@-moz-keyframes fadeIn { from { opacity: 0; } }
@-ms-keyframes fadeIn { from { opacity: 0; } }
@-o-keyframes fadeIn { from { opacity: 0; } }
@keyframes fadeIn { from { opacity: 0; } }

