<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/photos.css" | prepend: site.baseurl }}">	
	<body>
		<div class="site-content">
		<div class="pane pane-about">
			<p><a href="/">AM</a></p>
			<p>A midwestern designer living in Brooklyn and designing products at Square.</p>
			<p>—</p>
			<p>A random collection of captured moments shot on my iPhone or Leica M6.</p>
			<p><a href="/https://www.instagram.com/mahanti/">Instagram</a>, <a href="https://twitter.com/mrmahanti">Twitter</a></p>
		</div>
		<img src="{{ "/img/photos/007.jpeg" | prepend: site.baseurl }}"></img>	
		<img src="{{ "/img/photos/001.jpeg" | prepend: site.baseurl }}"></img>
		<img src="{{ "/img/photos/002.jpeg" | prepend: site.baseurl }}"></img>
		<img src="{{ "/img/photos/003.jpeg" | prepend: site.baseurl }}"></img>
		<img src="{{ "/img/photos/006.jpeg" | prepend: site.baseurl }}"></img>	
		<img src="{{ "/img/photos/004.jpeg" | prepend: site.baseurl }}"></img>
		<img src="{{ "/img/photos/005.jpeg" | prepend: site.baseurl }}"></img>
		<img src="{{ "/img/photos/008.jpeg" | prepend: site.baseurl }}"></img>
		<img src="{{ "/img/photos/009.jpeg" | prepend: site.baseurl }}"></img>
		<img src="{{ "/img/photos/010.jpeg" | prepend: site.baseurl }}"></img>
		<img src="{{ "/img/photos/011.jpeg" | prepend: site.baseurl }}"></img>
		<img src="{{ "/img/photos/012.jpeg" | prepend: site.baseurl }}"></img>
		<img src="{{ "/img/photos/013.jpeg" | prepend: site.baseurl }}"></img>
		<img src="{{ "/img/photos/014.jpeg" | prepend: site.baseurl }}"></img>
		<img src="{{ "/img/photos/015.jpeg" | prepend: site.baseurl }}"></img>
		<img src="{{ "/img/photos/016.jpeg" | prepend: site.baseurl }}"></img>
		<img src="{{ "/img/photos/017.jpeg" | prepend: site.baseurl }}"></img>
		<img src="{{ "/img/photos/018.jpeg" | prepend: site.baseurl }}"></img>
		<img src="{{ "/img/photos/019.jpeg" | prepend: site.baseurl }}"></img>
		<img src="{{ "/img/photos/020.jpeg" | prepend: site.baseurl }}"></img>
		<img src="{{ "/img/photos/021.jpeg" | prepend: site.baseurl }}"></img>
		<img src="{{ "/img/photos/022.jpeg" | prepend: site.baseurl }}"></img>
		<img src="{{ "/img/photos/023.jpg" | prepend: site.baseurl }}"></img>
		<img src="{{ "/img/photos/024.jpg" | prepend: site.baseurl }}"></img>
		<img src="{{ "/img/photos/serra.jpeg" | prepend: site.baseurl }}"></img>
		<img src="{{ "/img/photos/ando_001.jpg" | prepend: site.baseurl }}"></img>	
		<img src="{{ "/img/photos/japan_006.jpg" | prepend: site.baseurl }}"></img>
		<img src="{{ "/img/photos/japan_003.jpg" | prepend: site.baseurl }}"></img>
		<img src="{{ "/img/photos/japan_001.jpg" | prepend: site.baseurl }}"></img>	
		</div>
	</body>

</html>
