<div id="container">
  <header>
    <nav>
      <a id="logo" href="{{ site.baseurl }}/">Arjun Mahanti</a>
      <ul>
        <li class="nav_item"><a class="page-link" href="/design">Design</a></li>
        <li class="nav_item"><a class="page-link" href="/photos">Photography</a></li>
        <li class="nav_item"><a class="page-link" href="/lab">Lab</a></li>
        <li class="nav_item"><a class="page-link" href="/about">About</a></li>
      </ul>
    </nav>
  </header>
  <div class="body_content animated fadeInUp">
