<header id="nav">
    <div class="col-8">
      <a href="{{ '/' | relative_url }}" id="name" class="title">{{ site.title }}</a>
      <span class="subtitle hideable">{{ site.description }}</span>
    </div>
    <nav class="col-8" style="margin-top: 16px;">
      <a href="{{ '/work' | relative_url }}" class="button-link {% if page.url contains '/work' %}active{% endif %}">Work</a>
      <a href="{{ '/products' | relative_url }}" class="button-link {% if page.url contains '/products' %}active{% endif %}">Products</a>
      <a href="{{ '/photos' | relative_url }}" class="button-link {% if page.url contains '/photos' %}active{% endif %}">Photos</a>
      <a href="{{ '/about' | relative_url }}" class="button-link {% if page.url contains '/about' %}active{% endif %}">About</a>
    </nav>
</header>

<script src="{{ '/assets/js/animations.js' | relative_url }}"></script>