<div id="container">
  <header>
    <nav>
      <a id="logo" href="/portfolio">Arjun Mahanti</a>
      <ul>
        <li class="nav_item"><a class="page-link" href="/product">Product</a></li>
        <li class="nav_item"><a class="page-link" href="/graphic">Graphic</a></li>
        <li class="nav_item"><a class="page-link" href="/photography">Photos</a></li>
        <li class="nav_item"><a class="page-link" href="/labs">Lab</a></li>
        <li class="nav_item"><a class="page-link" href="/bio">About</a></li>
      </ul>
    </nav>
  </header>
  <div class="body_content animated fadeInUp">
