<div id="container" class="animated fadeInUp">
  <header>
		<p>A designer from Michigan, living in Brooklyn.<br>I design <a href="http://andofood.com">Ando</a>, build <a href="http://jotapp.me">Jot</a>, and take <a href="http://instagram.com/mahanti">pictures</a>. Say <a href="http://twitter.com/mrmahanti">hello</a>!</p>	
		<ul id="nav">
			<a href="/product">Product</a>
			<a href="/graphic">Graphic</a>
			<a href="/labs">Labs</a>
			<a href="/photos">Photos</a>
			<a href="/about">About</a>
		</ul>
 	</header> 
	<div class="body_content">
