<div id="container" class="animated fadeInUp">
  <header>
		 <p>Arjun Mahanti. A designer, from Michigan, working in Brooklyn, NY.<br>Designing <a href="http://andofood.com">Ando</a>, building <a href="http://jotapp.me">Jot</a>, and taking <a href="http://instagram.com/mahanti">pictures</a>. Say <a href="http://twitter.com/mrmahanti">hello</a>. ✌🏾</p>	
		<ul id="nav">
			<a href="/product">Product</a>•
			<a href="/graphic">Graphic</a>•
			<a href="/labs">Labs</a>•
			<a href="/photos">Photos</a>•
			<a href="/about">About</a>
		</ul>
 	</header> 
	<div class="body_content">
