.wrap {
	width: 488px;
	display: block;
	margin: 20px auto;
}
	
.mushroom-wrap {
  	width:128px;
	height:128px;
    margin: 50px;
    display: inline-block;
}


	#mushroom-red {
		margin-left:40px;
		width:8px;
		height:8px;
		background:#222;
		box-shadow:
			8px 0 #222,
			16px 0 #222,
			24px 0 #222,
			32px 0 #222,
			40px 0 #222,
			-16px 8px #222,
			-8px 8px #222,
			0px 8px #222,
			8px 8px #FFF,
			16px 8px #F00,
			24px 8px #F00,
			32px 8px #FFF,
			40px 8px #222,
			48px 8px #222,
			56px 8px #222,
			-24px 16px #222,
			-16px 16px #222,
			-8px 16px #FFF,
			0px 16px #FFF,
			8px 16px #FFF,
			16px 16px #F00,
			24px 16px #F00,
			32px 16px #FFF,
			40px 16px #FFF,
			48px 16px #FFF,
			56px 16px #222,
			64px 16px #222,
			-32px 24px #222,
			-24px 24px #222,
			-16px 24px #F00,
			-8px 24px #FFF,
			0px 24px #FFF,
			8px 24px #F00,
			16px 24px #F00,
			24px 24px #F00,
			32px 24px #F00,
			40px 24px #FFF,
			48px 24px #FFF,
			56px 24px #F00,
			64px 24px #222,
			72px 24px #222,
			-32px 32px #222,
			-24px 32px #FFF,
			-16px 32px #F00,
			-8px 32px #F00,
			0px 32px #F00,
			8px 32px #F00,
			16px 32px #F00,
			24px 32px #F00,
			32px 32px #F00,
			40px 32px #F00,
			48px 32px #F00,
			56px 32px #F00,
			64px 32px #FFF,
			72px 32px #222,
			-40px 40px #222,
			-32px 40px #222,
			-24px 40px #FFF,
			-16px 40px #FFF,
			-8px 40px #F00,
			0px 40px #F00,
			8px 40px #FFF,
			16px 40px #FFF,
			24px 40px #FFF,
			32px 40px #FFF,
			40px 40px #F00,
			48px 40px #F00,
			56px 40px #FFF,
			64px 40px #FFF,
			72px 40px #222,
			80px 40px #222,
			-40px 48px #222,
			-32px 48px #FFF,
			-24px 48px #FFF,
			-16px 48px #FFF,
			-8px 48px #F00,
			0px 48px #FFF,
			8px 48px #FFF,
			16px 48px #FFF,
			24px 48px #FFF,
			32px 48px #FFF,
			40px 48px #FFF,
			48px 48px #F00,
			56px 48px #FFF,
			64px 48px #FFF,
			72px 48px #FFF,
			80px 48px #222,
			-40px 56px #222,
			-32px 56px #FFF,
			-24px 56px #FFF,
			-16px 56px #FFF,
			-8px 56px #F00,
			0px 56px #FFF,
			8px 56px #FFF,
			16px 56px #FFF,
			24px 56px #FFF,
			32px 56px #FFF,
			40px 56px #FFF,
			48px 56px #F00,
			56px 56px #FFF,
			64px 56px #FFF,
			72px 56px #FFF,
			80px 56px #222,
			-40px 64px #222,
			-32px 64px #FFF,
			-24px 64px #FFF,
			-16px 64px #F00,
			-8px 64px #F00,
			0px 64px #FFF,
			8px 64px #FFF,
			16px 64px #FFF,
			24px 64px #FFF,
			32px 64px #FFF,
			40px 64px #FFF,
			48px 64px #F00,
			56px 64px #F00,
			64px 64px #FFF,
			72px 64px #FFF,
			80px 64px #222,
			-40px 72px #222,
			-32px 72px #F00,
			-24px 72px #F00,
			-16px 72px #F00,
			-8px 72px #F00,
			0px 72px #F00,
			8px 72px #FFF,
			16px 72px #FFF,
			24px 72px #FFF,
			32px 72px #FFF,
			40px 72px #F00,
			48px 72px #F00,
			56px 72px #F00,
			64px 72px #F00,
			72px 72px #F00,
			80px 72px #222,
			-40px 80px #222,
			-32px 80px #F00,
			-24px 80px #F00,
			-16px 80px #222,
			-8px 80px #222,
			0px 80px #222,
			8px 80px #222,
			16px 80px #222,
			24px 80px #222,
			32px 80px #222,
			40px 80px #222,
			48px 80px #222,
			56px 80px #222,
			64px 80px #F00,
			72px 80px #F00,
			80px 80px #222,
			-40px 88px #222,
			-32px 88px #222,
			-24px 88px #222,
			-16px 88px #222,
			-8px 88px #FFF,
			0px 88px #FFF,
			8px 88px #222,
			16px 88px #FFF,
			24px 88px #FFF,
			32px 88px #222,
			40px 88px #FFF,
			48px 88px #FFF,
			56px 88px #222,
			64px 88px #222,
			72px 88px #222,
			80px 88px #222,
			-32px 96px #222,
			-24px 96px #222,
			-16px 96px #FFF,
			-8px 96px #FFF,
			0px 96px #FFF,
			8px 96px #222,
			16px 96px #FFF,
			24px 96px #FFF,
			32px 96px #222,
			40px 96px #FFF,
			48px 96px #FFF,
			56px 96px #FFF,
			64px 96px #222,
			72px 96px #222,
			-24px 104px #222,
			-16px 104px #FFF,
			-8px 104px #FFF,
			0px 104px #FFF,
			8px 104px #FFF,
			16px 104px #FFF,
			24px 104px #FFF,
			32px 104px #FFF,
			40px 104px #FFF,
			48px 104px #FFF,
			56px 104px #FFF,
			64px 104px #222,
			-24px 112px #222,
			-16px 112px #222,
			-8px 112px #FFF,
			0px 112px #FFF,
			8px 112px #FFF,
			16px 112px #FFF,
			24px 112px #FFF,
			32px 112px #FFF,
			40px 112px #FFF,
			48px 112px #FFF,
			56px 112px #222,
			64px 112px #222,
			-16px 120px #222,
			-8px 120px #222,
			0px 120px #222,
			8px 120px #222,
			16px 120px #222,
			24px 120px #222,
			32px 120px #222,
			40px 120px #222,
			48px 120px #222,
			56px 120px #222;
	}

 #mushroom-green {
		margin-left:40px;
		width:8px;
		height:8px;
		background:#222;
		box-shadow:
			8px 0 #222,
			16px 0 #222,
			24px 0 #222,
			32px 0 #222,
			40px 0 #222,
			-16px 8px #222,
			-8px 8px #222,
			0px 8px #222,
			8px 8px #FFF,
			16px 8px #008000,
			24px 8px #008000,
			32px 8px #FFF,
			40px 8px #222,
			48px 8px #222,
			56px 8px #222,
			-24px 16px #222,
			-16px 16px #222,
			-8px 16px #FFF,
			0px 16px #FFF,
			8px 16px #FFF,
			16px 16px #008000,
			24px 16px #008000,
			32px 16px #FFF,
			40px 16px #FFF,
			48px 16px #FFF,
			56px 16px #222,
			64px 16px #222,
			-32px 24px #222,
			-24px 24px #222,
			-16px 24px #008000,
			-8px 24px #FFF,
			0px 24px #FFF,
			8px 24px #008000,
			16px 24px #008000,
			24px 24px #008000,
			32px 24px #008000,
			40px 24px #FFF,
			48px 24px #FFF,
			56px 24px #008000,
			64px 24px #222,
			72px 24px #222,
			-32px 32px #222,
			-24px 32px #FFF,
			-16px 32px #008000,
			-8px 32px #008000,
			0px 32px #008000,
			8px 32px #008000,
			16px 32px #008000,
			24px 32px #008000,
			32px 32px #008000,
			40px 32px #008000,
			48px 32px #008000,
			56px 32px #008000,
			64px 32px #FFF,
			72px 32px #222,
			-40px 40px #222,
			-32px 40px #222,
			-24px 40px #FFF,
			-16px 40px #FFF,
			-8px 40px #008000,
			0px 40px #008000,
			8px 40px #FFF,
			16px 40px #FFF,
			24px 40px #FFF,
			32px 40px #FFF,
			40px 40px #008000,
			48px 40px #008000,
			56px 40px #FFF,
			64px 40px #FFF,
			72px 40px #222,
			80px 40px #222,
			-40px 48px #222,
			-32px 48px #FFF,
			-24px 48px #FFF,
			-16px 48px #FFF,
			-8px 48px #008000,
			0px 48px #FFF,
			8px 48px #FFF,
			16px 48px #FFF,
			24px 48px #FFF,
			32px 48px #FFF,
			40px 48px #FFF,
			48px 48px #008000,
			56px 48px #FFF,
			64px 48px #FFF,
			72px 48px #FFF,
			80px 48px #222,
			-40px 56px #222,
			-32px 56px #FFF,
			-24px 56px #FFF,
			-16px 56px #FFF,
			-8px 56px #008000,
			0px 56px #FFF,
			8px 56px #FFF,
			16px 56px #FFF,
			24px 56px #FFF,
			32px 56px #FFF,
			40px 56px #FFF,
			48px 56px #008000,
			56px 56px #FFF,
			64px 56px #FFF,
			72px 56px #FFF,
			80px 56px #222,
			-40px 64px #222,
			-32px 64px #FFF,
			-24px 64px #FFF,
			-16px 64px #008000,
			-8px 64px #008000,
			0px 64px #FFF,
			8px 64px #FFF,
			16px 64px #FFF,
			24px 64px #FFF,
			32px 64px #FFF,
			40px 64px #FFF,
			48px 64px #008000,
			56px 64px #008000,
			64px 64px #FFF,
			72px 64px #FFF,
			80px 64px #222,
			-40px 72px #222,
			-32px 72px #008000,
			-24px 72px #008000,
			-16px 72px #008000,
			-8px 72px #008000,
			0px 72px #008000,
			8px 72px #FFF,
			16px 72px #FFF,
			24px 72px #FFF,
			32px 72px #FFF,
			40px 72px #008000,
			48px 72px #008000,
			56px 72px #008000,
			64px 72px #008000,
			72px 72px #008000,
			80px 72px #222,
			-40px 80px #222,
			-32px 80px #008000,
			-24px 80px #008000,
			-16px 80px #222,
			-8px 80px #222,
			0px 80px #222,
			8px 80px #222,
			16px 80px #222,
			24px 80px #222,
			32px 80px #222,
			40px 80px #222,
			48px 80px #222,
			56px 80px #222,
			64px 80px #008000,
			72px 80px #008000,
			80px 80px #222,
			-40px 88px #222,
			-32px 88px #222,
			-24px 88px #222,
			-16px 88px #222,
			-8px 88px #FFF,
			0px 88px #FFF,
			8px 88px #222,
			16px 88px #FFF,
			24px 88px #FFF,
			32px 88px #222,
			40px 88px #FFF,
			48px 88px #FFF,
			56px 88px #222,
			64px 88px #222,
			72px 88px #222,
			80px 88px #222,
			-32px 96px #222,
			-24px 96px #222,
			-16px 96px #FFF,
			-8px 96px #FFF,
			0px 96px #FFF,
			8px 96px #222,
			16px 96px #FFF,
			24px 96px #FFF,
			32px 96px #222,
			40px 96px #FFF,
			48px 96px #FFF,
			56px 96px #FFF,
			64px 96px #222,
			72px 96px #222,
			-24px 104px #222,
			-16px 104px #FFF,
			-8px 104px #FFF,
			0px 104px #FFF,
			8px 104px #FFF,
			16px 104px #FFF,
			24px 104px #FFF,
			32px 104px #FFF,
			40px 104px #FFF,
			48px 104px #FFF,
			56px 104px #FFF,
			64px 104px #222,
			-24px 112px #222,
			-16px 112px #222,
			-8px 112px #FFF,
			0px 112px #FFF,
			8px 112px #FFF,
			16px 112px #FFF,
			24px 112px #FFF,
			32px 112px #FFF,
			40px 112px #FFF,
			48px 112px #FFF,
			56px 112px #222,
			64px 112px #222,
			-16px 120px #222,
			-8px 120px #222,
			0px 120px #222,
			8px 120px #222,
			16px 120px #222,
			24px 120px #222,
			32px 120px #222,
			40px 120px #222,
			48px 120px #222,
			56px 120px #222;
	}
	
	#mushroom-blue {
		margin-left:40px;
		width:8px;
		height:8px;
		background:#222;
		box-shadow:
			8px 0 #222,
			16px 0 #222,
			24px 0 #222,
			32px 0 #222,
			40px 0 #222,
			-16px 8px #222,
			-8px 8px #222,
			0px 8px #222,
			8px 8px #fff,
			16px 8px #3860FF,
			24px 8px #3860FF,
			32px 8px #fff,
			40px 8px #222,
			48px 8px #222,
			56px 8px #222,
			-24px 16px #222,
			-16px 16px #222,
			-8px 16px #fff,
			0px 16px #fff,
			8px 16px #fff,
			16px 16px #3860FF,
			24px 16px #3860FF,
			32px 16px #fff,
			40px 16px #fff,
			48px 16px #fff,
			56px 16px #222,
			64px 16px #222,
			-32px 24px #222,
			-24px 24px #222,
			-16px 24px #3860FF,
			-8px 24px #fff,
			0px 24px #fff,
			8px 24px #3860FF,
			16px 24px #3860FF,
			24px 24px #3860FF,
			32px 24px #3860FF,
			40px 24px #fff,
			48px 24px #fff,
			56px 24px #3860FF,
			64px 24px #222,
			72px 24px #222,
			-32px 32px #222,
			-24px 32px #fff,
			-16px 32px #3860FF,
			-8px 32px #3860FF,
			0px 32px #3860FF,
			8px 32px #3860FF,
			16px 32px #3860FF,
			24px 32px #3860FF,
			32px 32px #3860FF,
			40px 32px #3860FF,
			48px 32px #3860FF,
			56px 32px #3860FF,
			64px 32px #fff,
			72px 32px #222,
			-40px 40px #222,
			-32px 40px #222,
			-24px 40px #fff,
			-16px 40px #fff,
			-8px 40px #3860FF,
			0px 40px #3860FF,
			8px 40px #fff,
			16px 40px #fff,
			24px 40px #fff,
			32px 40px #fff,
			40px 40px #3860FF,
			48px 40px #3860FF,
			56px 40px #fff,
			64px 40px #fff,
			72px 40px #222,
			80px 40px #222,
			-40px 48px #222,
			-32px 48px #fff,
			-24px 48px #fff,
			-16px 48px #fff,
			-8px 48px #3860FF,
			0px 48px #fff,
			8px 48px #fff,
			16px 48px #fff,
			24px 48px #fff,
			32px 48px #fff,
			40px 48px #fff,
			48px 48px #3860FF,
			56px 48px #fff,
			64px 48px #fff,
			72px 48px #fff,
			80px 48px #222,
			-40px 56px #222,
			-32px 56px #fff,
			-24px 56px #fff,
			-16px 56px #fff,
			-8px 56px #3860FF,
			0px 56px #fff,
			8px 56px #fff,
			16px 56px #fff,
			24px 56px #fff,
			32px 56px #fff,
			40px 56px #fff,
			48px 56px #3860FF,
			56px 56px #fff,
			64px 56px #fff,
			72px 56px #fff,
			80px 56px #222,
			-40px 64px #222,
			-32px 64px #fff,
			-24px 64px #fff,
			-16px 64px #3860FF,
			-8px 64px #3860FF,
			0px 64px #fff,
			8px 64px #fff,
			16px 64px #fff,
			24px 64px #fff,
			32px 64px #fff,
			40px 64px #fff,
			48px 64px #3860FF,
			56px 64px #3860FF,
			64px 64px #fff,
			72px 64px #fff,
			80px 64px #222,
			-40px 72px #222,
			-32px 72px #3860FF,
			-24px 72px #3860FF,
			-16px 72px #3860FF,
			-8px 72px #3860FF,
			0px 72px #3860FF,
			8px 72px #fff,
			16px 72px #fff,
			24px 72px #fff,
			32px 72px #fff,
			40px 72px #3860FF,
			48px 72px #3860FF,
			56px 72px #3860FF,
			64px 72px #3860FF,
			72px 72px #3860FF,
			80px 72px #222,
			-40px 80px #222,
			-32px 80px #3860FF,
			-24px 80px #3860FF,
			-16px 80px #222,
			-8px 80px #222,
			0px 80px #222,
			8px 80px #222,
			16px 80px #222,
			24px 80px #222,
			32px 80px #222,
			40px 80px #222,
			48px 80px #222,
			56px 80px #222,
			64px 80px #3860FF,
			72px 80px #3860FF,
			80px 80px #222,
			-40px 88px #222,
			-32px 88px #222,
			-24px 88px #222,
			-16px 88px #222,
			-8px 88px #fff,
			0px 88px #fff,
			8px 88px #222,
			16px 88px #fff,
			24px 88px #fff,
			32px 88px #222,
			40px 88px #fff,
			48px 88px #fff,
			56px 88px #222,
			64px 88px #222,
			72px 88px #222,
			80px 88px #222,
			-32px 96px #222,
			-24px 96px #222,
			-16px 96px #fff,
			-8px 96px #fff,
			0px 96px #fff,
			8px 96px #222,
			16px 96px #fff,
			24px 96px #fff,
			32px 96px #222,
			40px 96px #fff,
			48px 96px #fff,
			56px 96px #fff,
			64px 96px #222,
			72px 96px #222,
			-24px 104px #222,
			-16px 104px #fff,
			-8px 104px #fff,
			0px 104px #fff,
			8px 104px #fff,
			16px 104px #fff,
			24px 104px #fff,
			32px 104px #fff,
			40px 104px #fff,
			48px 104px #fff,
			56px 104px #fff,
			64px 104px #222,
			-24px 112px #222,
			-16px 112px #222,
			-8px 112px #fff,
			0px 112px #fff,
			8px 112px #fff,
			16px 112px #fff,
			24px 112px #fff,
			32px 112px #fff,
			40px 112px #fff,
			48px 112px #fff,
			56px 112px #222,
			64px 112px #222,
			-16px 120px #222,
			-8px 120px #222,
			0px 120px #222,
			8px 120px #222,
			16px 120px #222,
			24px 120px #222,
			32px 120px #222,
			40px 120px #222,
			48px 120px #222,
			56px 120px #222;
	}
	
	#mushroom-reverse {
		margin-left:40px;
		width:8px;
		height:8px;
		background:#222;
		box-shadow:
			8px 0 #222,
			16px 0 #222,
			24px 0 #222,
			32px 0 #222,
			40px 0 #222,
			-16px 8px #222,
			-8px 8px #222,
			0px 8px #222,
			8px 8px #cc1316,
			16px 8px #ea853b,
			24px 8px #ea853b,
			32px 8px #cc1316,
			40px 8px #222,
			48px 8px #222,
			56px 8px #222,
			-24px 16px #222,
			-16px 16px #222,
			-8px 16px #cc1316,
			0px 16px #cc1316,
			8px 16px #cc1316,
			16px 16px #ea853b,
			24px 16px #ea853b,
			32px 16px #cc1316,
			40px 16px #cc1316,
			48px 16px #cc1316,
			56px 16px #222,
			64px 16px #222,
			-32px 24px #222,
			-24px 24px #222,
			-16px 24px #ea853b,
			-8px 24px #cc1316,
			0px 24px #cc1316,
			8px 24px #ea853b,
			16px 24px #ea853b,
			24px 24px #ea853b,
			32px 24px #ea853b,
			40px 24px #cc1316,
			48px 24px #cc1316,
			56px 24px #ea853b,
			64px 24px #222,
			72px 24px #222,
			-32px 32px #222,
			-24px 32px #cc1316,
			-16px 32px #ea853b,
			-8px 32px #ea853b,
			0px 32px #ea853b,
			8px 32px #ea853b,
			16px 32px #ea853b,
			24px 32px #ea853b,
			32px 32px #ea853b,
			40px 32px #ea853b,
			48px 32px #ea853b,
			56px 32px #ea853b,
			64px 32px #cc1316,
			72px 32px #222,
			-40px 40px #222,
			-32px 40px #222,
			-24px 40px #cc1316,
			-16px 40px #cc1316,
			-8px 40px #ea853b,
			0px 40px #ea853b,
			8px 40px #cc1316,
			16px 40px #cc1316,
			24px 40px #cc1316,
			32px 40px #cc1316,
			40px 40px #ea853b,
			48px 40px #ea853b,
			56px 40px #cc1316,
			64px 40px #cc1316,
			72px 40px #222,
			80px 40px #222,
			-40px 48px #222,
			-32px 48px #cc1316,
			-24px 48px #cc1316,
			-16px 48px #cc1316,
			-8px 48px #ea853b,
			0px 48px #cc1316,
			8px 48px #cc1316,
			16px 48px #cc1316,
			24px 48px #cc1316,
			32px 48px #cc1316,
			40px 48px #cc1316,
			48px 48px #ea853b,
			56px 48px #cc1316,
			64px 48px #cc1316,
			72px 48px #cc1316,
			80px 48px #222,
			-40px 56px #222,
			-32px 56px #cc1316,
			-24px 56px #cc1316,
			-16px 56px #cc1316,
			-8px 56px #ea853b,
			0px 56px #cc1316,
			8px 56px #cc1316,
			16px 56px #cc1316,
			24px 56px #cc1316,
			32px 56px #cc1316,
			40px 56px #cc1316,
			48px 56px #ea853b,
			56px 56px #cc1316,
			64px 56px #cc1316,
			72px 56px #cc1316,
			80px 56px #222,
			-40px 64px #222,
			-32px 64px #cc1316,
			-24px 64px #cc1316,
			-16px 64px #ea853b,
			-8px 64px #ea853b,
			0px 64px #cc1316,
			8px 64px #cc1316,
			16px 64px #cc1316,
			24px 64px #cc1316,
			32px 64px #cc1316,
			40px 64px #cc1316,
			48px 64px #ea853b,
			56px 64px #ea853b,
			64px 64px #cc1316,
			72px 64px #cc1316,
			80px 64px #222,
			-40px 72px #222,
			-32px 72px #ea853b,
			-24px 72px #ea853b,
			-16px 72px #ea853b,
			-8px 72px #ea853b,
			0px 72px #ea853b,
			8px 72px #cc1316,
			16px 72px #cc1316,
			24px 72px #cc1316,
			32px 72px #cc1316,
			40px 72px #ea853b,
			48px 72px #ea853b,
			56px 72px #ea853b,
			64px 72px #ea853b,
			72px 72px #ea853b,
			80px 72px #222,
			-40px 80px #222,
			-32px 80px #ea853b,
			-24px 80px #ea853b,
			-16px 80px #222,
			-8px 80px #222,
			0px 80px #222,
			8px 80px #222,
			16px 80px #222,
			24px 80px #222,
			32px 80px #222,
			40px 80px #222,
			48px 80px #222,
			56px 80px #222,
			64px 80px #ea853b,
			72px 80px #ea853b,
			80px 80px #222,
			-40px 88px #222,
			-32px 88px #222,
			-24px 88px #222,
			-16px 88px #222,
			-8px 88px #FFF,
			0px 88px #FFF,
			8px 88px #222,
			16px 88px #FFF,
			24px 88px #FFF,
			32px 88px #222,
			40px 88px #FFF,
			48px 88px #FFF,
			56px 88px #222,
			64px 88px #222,
			72px 88px #222,
			80px 88px #222,
			-32px 96px #222,
			-24px 96px #222,
			-16px 96px #FFF,
			-8px 96px #FFF,
			0px 96px #FFF,
			8px 96px #222,
			16px 96px #FFF,
			24px 96px #FFF,
			32px 96px #222,
			40px 96px #FFF,
			48px 96px #FFF,
			56px 96px #FFF,
			64px 96px #222,
			72px 96px #222,
			-24px 104px #222,
			-16px 104px #FFF,
			-8px 104px #FFF,
			0px 104px #FFF,
			8px 104px #FFF,
			16px 104px #FFF,
			24px 104px #FFF,
			32px 104px #FFF,
			40px 104px #FFF,
			48px 104px #FFF,
			56px 104px #FFF,
			64px 104px #222,
			-24px 112px #222,
			-16px 112px #222,
			-8px 112px #FFF,
			0px 112px #FFF,
			8px 112px #FFF,
			16px 112px #FFF,
			24px 112px #FFF,
			32px 112px #FFF,
			40px 112px #FFF,
			48px 112px #FFF,
			56px 112px #222,
			64px 112px #222,
			-16px 120px #222,
			-8px 120px #222,
			0px 120px #222,
			8px 120px #222,
			16px 120px #222,
			24px 120px #222,
			32px 120px #222,
			40px 120px #222,
			48px 120px #222,
			56px 120px #222;
	}
