body {
    font-size: 100%;
    padding-bottom: 3em;
	  padding-top: 20em;
}
h3 {
    color: #888;
    font: 1.25em/1.2 serif;
    margin: 0 auto 1.2em;
    max-width: 34em;
}
p {
    color: #333;
    font: 1em/1.5 Georgia, serif;
    margin: 0 auto 1.5em;
    max-width: 42em;
}
a {
    color: #444;
    margin: -.4em;
    padding: .4em;
    position: relative; 
    -webkit-transition: .25s;
       -moz-transition: .25s;
        -ms-transition: .25s;
         -o-transition: .25s;
            transition: .25s;
}
.visible a {
    border-radius: 1em;
}
.visible a:hover,
.visible a:focus {
 	background: #80CCFF;   
	box-shadow: inset 0 0 0 .1em rgba(0,0,0,.1); 
}

.invisible a:hover,
.invisible a:focus {
    color: #a44;
}
