@import url('https://rsms.me/inter/inter.css');

html { font-family: 'Inter', sans-serif; }

body {
  width: 100%;
  height: 100%;
  font-family: 'SF Pro', 'Inter', courier;
 	background-color: #FFF;
  text-decoration: none;
  transition: .15s;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

#container {
	width: 640px;
	margin: 0 auto;
}

#logo_container {
  width: 48px;
	margin-top: 64px;
}

#logo {
  width: 100%;
}

#headline_container {
	margin-top: -8px;
}

h1 {
	color: #485D83;
	font-size: 32px;
	font-weight: 600;
letter-spacing: -0.01em;
}

h2 {
color: #485D83;
  font-size: 32px;
  font-weight: 600;
  opacity: .5;
	margin-top: -20px;
	letter-spacing: -0.01em;
}

#hero {
width: 640px;
height: auto;
margin-top: 32px;
margin-bottom: 64px;
}

.dl-btn {
 	font-size: 16px; 
	color: #FF9F40;
  text-decoration: none;
	font-weight: 600;
	letter-spacing: -0.01em;

}

.dl-btn:hover {
  color: #DB8134;font-weight: 600;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

@media (max-width: 780px) {
  .container {
    width: 100%;
    margin: 0; 
  }

	#logo_container {
		margin-left: 40px;
	}

	#circuitbio {
		margin-left: 40px;
}
		
	.dl-btn {
 	font-size: 18px; 
	color: #FF9F40;
  text-decoration: none;
	font-weight: 600;
}
  .content {
    width: 80%;
  }
}

